body {
    font-family: 'Roboto', sans-serif;
    
}
.top {
    background-color: white;

}
.nav { 
    width: 1200px;
    margin: 0 auto;
    background-color: gray;
    color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid black;

}

.nav-links {
    width: 70%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    margin: 20px;
}


.nav-title {
    margin-left: 20px;
}
.nav .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
 
}

.btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: 3px solid black;
    font-size: 16px;
    box-shadow: 5px 5px #000000;

}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.row {
    display: flex;
    border: 3px solid black;

}

.col-1, .col-2, .col-3 {
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
    flex: 1;
    background-color: white;
}

.col-2 {
    flex: 2;
}

.def-card-1 {
    padding: 10px;
    display: flex;
    margin: 10px;
    background-color: lightgrey;
    border: 4px solid black;
}

.description-1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    width: 35%;
    height: 100%;
}

.definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width:65%;
    margin: 20px;
}

.word-def {
    font-size: 28px;
    font-weight: 100;
}

.col-1 {
    background-color: white;
    height: 300px;
}

.message {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 100%;
    background-color: lightgray;
    border: 4px solid black;
}

.add-definition {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-2 {
    height: 45px;
    width: 200px;
    background-color: limegreen;
    color: #ffffff;
    border: none;
    font-size: 16px;
    border: 4px solid black;
    box-shadow: #000000;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

h1 {
    color: #000000;
    font-size: 50px;
}

h2 {
    font-size:44px;
}

.new-def {
    font-size: 48px;
}