* {
    font-family: sans-serif;
}

.container {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 4px 4px 4px grey;
}

.banner {
    width: 800px;
    height: 100px;
    background-color: cornflowerblue;
}

.details {
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
#location {
    height: 20px;
    margin-right: 20px;
}
#edit {
    margin-left: 10px;
    margin-bottom: 50px;
}
#gear {
    height: 20px;
    margin-right: 0px;
}

#User {
    height: 80px;
    position: absolute;
    top: 70px;
    left: 375px;
    
}